#logoExia img , #logoEi img, #logoCesi img {
    margin-top: 15px;
    margin-left: 25%;
}

#logoExia img{
    height: 12rem;
}

#logoEi img {
    height: 13rem;
}

#logoCesi img{
    height: 10rem;
}

#cart {
    height: 11rem;
    text-align: center;
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 2.5rem;
}

#foot{
    margin-top: 15rem;
    color: white;
    background-color: #cc0000;
    height: 15rem;
    font-family: arial,ssans, sans-serif;
}

#facebook img{
    height: 3.5rem;
    padding-left: 11rem;
}

#facebook,#twitter{
    margin-top: 5rem;
}

#twitter img{
    height: 3.5rem;
    margin-left: 3rem;

}

#mention p,#copyright p{
    margin-top: 6rem;
}

#contact p{
    margin-top: 3rem;
}