table, td, th {
    border: 1px solid black;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    padding: 15px;
}

th {
    text-align: center;
}

#tableauProduct {
    margin-left:15%;
    margin-right:15%;
}

body {
    background: lightgray;
}

#buttonAdd{
    background:  #cc0000;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 8px;
    padding: 5px 15px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    border-bottom-width: 3px;
    color: whitesmoke;
}